<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../assets/css/home.css" rel="stylesheet">

</head>







<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../assets/css/nav.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>                
            <a href="/">Home</a>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Protfolid</a>
            <a href="#">Pages</a>
            <a href="/query">qlogin</a>
            <a href="/login">login</a>
        </nav>
    
    </header>
</body>
</html>

<form id='filter' action="/filter" method="GET">
<label style="color: beige;" for="filter">All books:</label>
<select id ='category' name='category'>
 <option  >All books</option>
  <option value="IT">IT</option>    
  <option value="PHYSICS">Physics</option>
  <option value="chemistry">chemistry</option>
  
</select>

<button type="submit" id="submit">filter</button>
</form>
 <section class="parent-sectio">
       <div id = 'test-div'></div>
       <div id = 'filter-div'></div>
  </section>
  
 <script src="../assets/javascript/home.js"></script>
 
 
  </html>